/* overall settings */ 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 8rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 60vh;
}

/* buttons */
button {
    cursor: pointer;
    background-color: gold;
    color: rgb(43, 43, 43);
    border: none;
    font-size: 1.05rem;
    border-radius: .5rem;
    padding: .6rem 1.2rem;
    margin-bottom: 2rem;
}

#restart-btn {
    position: absolute;
    top: 3rem;
    right: 5rem;
}

#start-btn {
    font-weight: bold;
    box-shadow: var(--main-box-shadow);
    padding: 1rem;
}

/* general game area and other elements */
#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.player {
    margin: 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.name {
    font-size: 1.25rem;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    box-shadow: var(--main-box-shadow);
}


#player-one-name {
    background-color: lightblue;
}
#player-two-name {

    background-color: lightcoral;
}

/* screen saying who's turn is it etc */

.hidden {
    display: none;
}

#game-display {
    text-align: center;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    background-color: lightblue;
    color: white;
    font-family: monospace;
    min-width: 375px;
    box-shadow: var(--main-box-shadow);
}

/* actual tic-tac-toe container */
#tictactoe-container {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.row {
    display: flex;
}

.row:nth-child(2) {
    border-top: 3px solid rgb(221, 221, 221);
    border-bottom: 3px solid  rgb(221, 221, 221);
}

.row .cell:nth-child(2) {
    border-right: 3px solid  rgb(221, 221, 221);
    border-left: 3px solid  rgb(221, 221, 221);
}

.cell {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-weight: 100;
    color: lightblue;
    font-family: "Mali", Arial, Helvetica, sans-serif;
    cursor: pointer;
}

/* dialog and form items */
#dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 16rem;
    position: relative;
}

#dialog-container button {
    font-size: .8rem;
    padding: .4rem .8rem;
}

#close-btn {
    background: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

#confirm-btn {
    font-size: 1.1rem;
}

dialog {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    border-radius: 1rem;
}

.form-button {
    margin: 1rem 0;
}

form input {
    padding: .25rem;
    border-radius: .25rem;
    border: 1px solid lightgray;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.5rem;
    margin: 0rem 1rem;
    gap: .5rem;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      lightblue,
      white,
      lightcoral
    );
    opacity: 0.75;
  }


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    color: white;
    padding: 1rem;
}